@import url("https://fonts.googleapis.com/css2?family=Abel&family=Sunflower:wght@300;500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-size: 20px;
    font-family: sunflower, sans-serif;
}

.title {
    padding: 8px;
    background-color: #98abc4;
    border-radius: 5px 5px 0 0;
}


.input-radio {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #98abc4;
    padding: 8px 0 20px;
    margin-bottom: 5px;
}

#goal {
    background-color: #FFFAFA;
   border-radius: 5px;
} 


.input-radio .radio  {

    display: flex;
    align-items: center;
    justify-content: center
   
}


form {

    background-color: #98abc4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 20px ;
    margin-bottom: 5px;
}

form .hours {
    display: none;
}

.table {
   
    text-align: center;
    margin: 0 auto;
    
}


.goal-btn {
    background-color: #ff8c00c6;
    border-radius: 5px;
    padding: 6px;
}



input[type = 'radio']{
    accent-color: #dc7b05ed;
    background-color: #FFFAFA;
    margin: 0 auto;
    cursor: pointer;
}

table {
    
    width: 500px;
    height: 100%;
    background-color: #98abc4;
    border-radius: 5px;
}

tbody {
   
    background-color: #dc7b05ed;
    border-radius: 5px;
    
}

#turn,
#goal {
    text-align: center;
    width: 35px;
}


th {
    
    text-align: center;
    border-radius: 5px;
    width: 95px;
    height: 40px;

}


td {

padding: 5px;
border-radius: 5px;

}

 input {

    font-family: sunflower, sans-serif;
    font-size: 18px;
    margin-right: 5px;
    min-width: 70px;
    min-height: 30px;
}

button {
   
    cursor: pointer;
}

button {
    text-align: center;
    min-width: 40px;
    min-height: 30px;
}

.data {
    text-align: center;
}

.realized {
    display:flex;
    justify-content: space-evenly;
    
    
}

.realized input {
    text-align: center;
    width: 30px;
    border-radius: 5px;
}

.realized button {
    border-radius: 5px;
}

 td input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.message {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.message {
    font-size: 35px;
    margin-top: 30px;
    text-align: center;
}
